*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    /* background:#2c3e50; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height:100vh ;
    
}
.box1
{
    width: 550px;
    height: auto;
    background:rgb(250, 169, 19);
    display: flex;
}
.tab_content
{
    width: 550px;
}
#nav-tab
{
    list-style: none;
    margin-top: 15px;
    width: 180px;
    margin-right: 25px;
}
.box_containers_levels
{
    margin: 0 auto;
    background: #0cb373;
    border-radius: 3px;
    color: #fff;;
}
#nav-tab li{
   
    padding: 15px 0px;
    margin-right: 10px;
}
#nav-tab li a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    padding: 10px ;
    border-bottom:  1px solid transparent;
    transition:  background 0.5s;
}
#nav-tab li a:hover,
#nav-tab .active a
{
    color: white;
    background-color: #e74c3c;
}

.page
{
    display: none;
    border: 0px solid #ccc;
    min-height: 320px;
    padding: 15px;
}
.page.page-active
{
    display: block;
}
.page h2 
{
    font-weight: bolder;
    margin-bottom: 15px;
    color: white
}

/* ######################################################## */

.card-details{
	padding: 5px 10px;
    /* border: solid 1px rgb(206, 200, 200); */
    width: 100% !important;
    border-radius: 5px;
}
.card-details .c-number{
	width: 100%;
	border-radius: 3px;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
    background: orange;
}
.card-details p
{
  margin-bottom: -15px !important;
  font-weight: bolder;
  
}
input{
	border: none;
	border-radius: 3px;
	outline: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
}

.c-details{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 20px 0;
}

.cc-exp{
	
	border-radius: 3px;
	height: 40px;
	margin-top: 10px;
	padding: 12px;
	width: 150px;
}
.c-details .cvv-box{
	
	margin-top: 10px;
	padding: 2px;
	height: 40px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	width: 108px;
    
}
.cc-cvv{
	width: 60px;
    height: 38px;
    padding-left: 10px;
}
.email input{
	width: 100%;
	border-radius: 3px;
	padding: 12px;
	height: 40px;
	margin-top: 10px !important;
}
button{
	width: 100%;
	border: none;
	height: 45px;
	border-radius: 5px;
	margin-top: 10px !important;
	font-size: 18px;
	color: #444;
	background-color: greenyellow;
    
}
button:hover{
	background-color: #444;
	color: white;
	cursor: pointer;
}